.lang-button{
    font-size: 14px;
    font-weight: 500;
    line-height: 44px;
    padding: 15px 10px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(23, 23, 23, 0.24);
    
}